<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Categorias</title>
</head>
<body>
<h2>Listagem de Categorias</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoria : ${categorias}">
        <td th:text="${categoria.id}"></td>
        <td th:text="${categoria.nome}"></td>
        <td>
            <a th:href="@{/categorias/editar/{id}(id=${categoria.id})}">Editar</a>
            <a th:href="@{/categorias/excluir/{id}(id=${categoria.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/categorias/nova">Nova Categoria</a>

<!-- Botão para redirecionar para a página de tarefas -->
<button onclick="window.location.href='/tarefas/listatarefas'">Ir para Tarefas</button>

</body>
</html>
