<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Tarefa</title>
</head>
<body>
<h1 th:text="${tarefa.id} != null ? 'Editar Tarefa' : 'Nova Tarefa'"></h1>
<form method="post" th:action="@{/tarefas}" th:object="${tarefa}">
    <input type="hidden" th:field="*{id}">
    <label>Título:</label><br>
    <input type="text" th:field="*{titulo}" required><br>
    <label>Descrição:</label><br>
    <textarea th:field="*{descricao}" required></textarea><br>
    <label>Prazo:</label><br>
    <input type="date" th:field="*{prazo}" required><br>
    <label>Data de Conclusão:</label><br>
    <input type="checkbox" th:field="*{dataconclusao}"><br>
    <label>Categoria:</label><br>
    <select th:field="*{categoria}" required>
        <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
    </select><br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>
