<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Tarefa</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Nova Tarefa</h1>
<form th:action="@{/tarefas/salvar}" th:object="${tarefa}" method="post">
    <div>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" th:field="*{titulo}" />
    </div>
    <div>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" th:field="*{descricao}"></textarea>
    </div>
    <div>
        <label for="categoria">Categoria:</label>
        <select id="categoria" th:field="*{categoria.id}">
            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
        </select>
    </div>
    <div>
        <label for="Concluida">Concluida:</label>
        <input type="checkbox" id="concluida" th:field="*{concluida}" th:value="true"/>
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>
